{% extends 'core/base.html' %}


{% block contenido %}
    {% for curso in cursos %}
        <ul>
            <li>
                {{ curso.nombre }}
                {{ curso.comision }}
                {{ curso.profesor }}
            </li>
        </ul>
    {% endfor %}
    <button><a href="{% url 'curso_create' %}">Crear Curso</a></button>
    <button><a href="{% url 'curso_inscription' %}">Inscribir Estudiante</a></button>
    <button><a href="{% url 'curso_inscription_list' %}">Ver Estudiantes Inscriptos</a></button>
    <button><a href="{% url 'index' %}">Volver</a></button>
{% endblock contenido %}