{% extends 'core/base.html' %}

{% block contenido %}

    <h1>Profesores</h1>
    <a href="{% url 'profesor_list' %}">Listado Profesores</a>
    <a href="{% url 'profesor_create' %}">Alta de Profesores</a>

    <h1>Estudiante</h1>
    <a href="{% url 'estudiante_list' %}">Listado Estudiante</a>
    <a href="{% url 'estudiante_create' %}">Alta de Estudiante</a>
    

    <h1>Cursos</h1>
    <a href="{% url 'curso_list' %}">Listado Cursos</a>
    <a href="{% url 'curso_create' %}">Alta de Curso</a>
    
{% endblock contenido %}